input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#temperatur {
  display: flex;
  flex-direction: row;
  width: 445px;
}

#cels, #far {
  position: relative;
  width: 90%;
  justify-content: center;
  margin: 5%;

}
